export(contrastCoefficients, interactionMeans, testFactors, testInteractions)
import(car)
## To run vignette succesfully
importFrom(lme4, diag)
S3method(testFactors, lm)
S3method(testFactors, mlm)
S3method(testFactors, glm)
S3method(testFactors, lme)
S3method(testFactors, mer)
S3method(testFactors, merMod)
S3method(print, testFactors)
S3method(summary, testFactors)
S3method(print, summary.testFactors)
S3method(plot, interactionMeans)
